.tile{
    position: relative;
    height: 48px;
    img.background{
        height: 48px;
        &:hover{
            filter: brightness(.7);
        }
    }
    img.plant{
        width: 16px;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    img.fruit{
        width: 16px;
        position: absolute;
        top: 0px;
        left: calc(50% - 8px);
    }
    img.rottenFruit{
        width: 16px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    img.seed{
        width: 16px;
        position: absolute;
        top: calc(50% - 8px);
        left: 0px;
    }
}