<div (click)="emitClickedTile()" class="tile">
    <!-- BACKGROUNDS -->
    <img *ngIf="fertLevel<200 && !isAWaterTile" class="background" src="assets/img/soil/soil_no_fert.png" alt="desert">
    <img *ngIf="fertLevel>=200 && fertLevel<800 && !isAWaterTile" class="background" src="assets/img/soil/soil_fert.png" alt="fert">
    <img *ngIf="fertLevel>=800 && !isAWaterTile" class="background" src="assets/img/soil/soil_very_fert.jpg" alt="very fert">
    <img *ngIf="isAWaterTile" class="background" src="assets/img/soil/water.jpg" alt="water">

    <!-- MINI ICONS -->
    <img class="plant" *ngIf="plants.length" src="assets/img/mini-icons/plant.svg">
    <img class="fruit" *ngIf="someFreshFruit" src="assets/img/mini-icons/fruit.svg">
    <img class="rottenFruit" *ngIf="someRottenFruit" src="assets/img/mini-icons/rotten_fruit.svg">
    <img class="seed" *ngIf="seeds.length" src="assets/img/mini-icons/seed.svg">

</div>
