<aside class="info__panel">
    <div *ngIf="!tile">
        Selecciona una celda para más información.
    </div>
    <div *ngIf="tile">
        <p>
            Posición: {{tile.id}}
        </p>
        <p>
            Fertilidad: {{(tile.fertLVL<200?'arido':(tile.fertLVL<800?'fertil':'tropical'))+ '('+tile.fertLVL.toFixed(2)+')'}}
        </p>
    </div>
</aside>
