<div class="sim__page" [ngStyle]="{'cursor': 
    cursorStyle==='NONE'?
        'default':
        (cursorStyle==='SEED'?
            'url(\'assets/img/mini-icons/seed.svg\'), auto':
            'url(\'assets/img/control/water_icon.png\'), auto')
    }">
    <app-control-panel></app-control-panel>
    <div class="sim__page__body">
        <app-info-panel></app-info-panel>
        <app-world-panel></app-world-panel>
    </div>
</div>
