.sim__page{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    &__body{
        border-top: 1px solid black;
        height: calc(100vh - 26px);
        display: flex;
        :first-child{
            width: 350px;
        }
        :last-child{
            flex-grow: 1;
            border-left: 1px solid black;
            overflow: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}