<div class="control__panel">
    <div class="time__control">
        <button [ngClass]="{'active':timeSelection===0}" (click)="changeTimeSpeed(0)">
            <img src="assets/img/control/pause.svg" alt="pause">
        </button>
        <button [ngClass]="{'active':timeSelection===1}" (click)="changeTimeSpeed(1)">
            <img src="assets/img/control/play.svg" alt="play">
        </button>
        <button [ngClass]="{'active':timeSelection===2}" (click)="changeTimeSpeed(2)">
            <img src="assets/img/control/fast.svg" alt="fast">
        </button>
        <button [ngClass]="{'active':timeSelection===3}" (click)="changeTimeSpeed(3)">
            <img src="assets/img/control/very_fast.svg" alt="very fast">
        </button>
    </div>
    <div class="creatures__add__control">
        <button (click)="changeTool('NONE')">
            <img src="assets/img/control/cursor.svg" alt="cursor">
        </button>
        <button (click)="changeTool('SEED')">
            <img src="assets/img/mini-icons/seed.svg" alt="seed">
        </button>
        <button (click)="changeTool('WATER')">
            <img src="assets/img/control/water_icon.svg" alt="water">
        </button>
    </div>

</div>