.control__panel{
    display: flex;
    >*{
        border-left: 1px solid gray;
    }
    button{
        padding: 0px;
        margin: 2px;
        height: 20px;
        &.active{
            filter: brightness(.7);
        }
        img{
            width: 16px;
            height: 16px;
        }
    }
}